---
layout: default
---

<div class="home">

      {% for post in paginator.posts %}
    {% if post.external-url %}
      
		
		   <h2>
          <a class="external-post-link" href="{{ post.external-url }}">{{ post.title }}</a>
		  </h2>
		  
		  	  
		  <div id="post-meta">
		  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a title="Permalink to {{ post.title }}" href="{{ post.url }}">♪</a>
        	</div>
			
			<div id="content">
		{{ post.content }}
			</div>
			
			<hr>		
      
	  {% else %}
	       
		   
		  <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
		   
		  <div id="post-meta"> 
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		</div>
		
		<div id="content">
		{{ post.content }}
		   </div>   

			<hr>
	  
    {% endif %}
	    {% endfor %}
		

{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% capture previous_page %}/{% endcapture %}
    {% else %}
        {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
    {% endif %}
    <a href="{{ previous_page }}" class="previous">&larr; Newer Posts</a>
{% endif %}
 
{% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Older Posts &rarr;</a>
{% endif %}

</div>

<div class="sidebar">

<h3>Menu</h3>

	  <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
		</ul>

</div>
