---
layout: default
---

<div class="home">

      {% for post in site.posts %}
    {% if post.external-url %}
      
		
		   <h2>
          <a class="post-link" href="{{ post.external-url }}">{{ post.title }}</a>
		  </h2>
		  
		  	  
		  <div id="post-meta">
		  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <a title="Permalink to {{ post.title }}" href="{{ post.url }}">♪</a>
        	</div>
			
			<div id="content">
		{{ post.content }}
			</div>
			
			<hr>		
      
	  {% else %}
	       
		   
		  <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
		   
		  <div id="post-meta"> 
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		</div>
		
		<div id="content">
		{{ post.content }}
		   </div>   
			  
			<hr>
	  
    {% endif %}
	    {% endfor %}
		
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Previous</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Next</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}