</div>

<footer class="site-footer">
  
    <div class="wrapper">

{% if page.layout == 'page' %}
 
<ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">  
  
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">  
                              <a itemprop="item" href="/"><span itemprop="name">Get Well Messages</span></a><meta itemprop="position" content="1">
  </li>
  
                          <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="{{page.permalink}}"><span itemprop="name">{{page.title2}}</span></a><meta itemprop="position" content="2">
</li>      

</ol>    
  
{% endif %}    
  
<div id="footer">

<a href="/about/">About</a>  |  <a href="mailto:contact@getwellmessages.net">Contact</a>  | <a href="/privacy-policy/">Privacy Policy</a> 

      <div id="copyright"><p>© 2021 getwellmessages.net </p></div>

</div>

</footer>

<div id="amzn-assoc-ad-a3a69f24-8c82-40cb-bd74-327bd046f3dd"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=a3a69f24-8c82-40cb-bd74-327bd046f3dd"></script>
