<h3>Get Well Resources</h3>  
 <p>
{% for apage in site.pages %}
    {% if apage.categories contains 'navbottom' %}
        {% if page.url != apage.url %}
  <ul class="bottom-nav">
  <li><a href="{{ apage.url | prepend: site.baseurl }}">{{ apage.title }}</a></li>
</ul>                                             
        {% endif %}
    {% endif %}
{% endfor %}     
</p>





<ul class="bottom-nav">
  <li><a href="/">Get Well FAQ: Guide to Writing a Get Well Message</a></li>  
  <li><a href="/">Get Well Gifts</a></li>
  <li><a href="/">Get Well Soon Prayers</a></li>  
</ul>
