	<div class="sharing">
	<a class="sharing-button twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" title="Share on Twitter" class="share-icon twitter">Twitter</a>

	<a class="sharing-button facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="share-icon facebook" target="_blank">Facebook</a>

	<a class="sharing-button googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google Plus" class="share-icon googleplus" target="_blank">Google+</a>

	<a class="sharing-button email" href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" title="Share via email" class="share-icon email" target="_blank">Email</a>
</div>