/**
 * Site header
 */
.site-header {
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
	position: relative;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
	padding-bottom: 10px;
	padding:30px 0 23px 0;
width:90%;
max-width:1000px;
margin:0 auto;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-head-content{
position:relative;
padding:30px 0 23px 0;
width:90%;
max-width:1000px;
margin:0 auto;
}

.nav-bar {
  border: none;
  background: #00a8e8;
  color: #fff;
  list-style: none;
  width: 100%;
  text-align: center;
}

.site-nav {
    text-align: left;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
	
	h2 {
		margin-bottom: 1px;
	}
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.external-post-link {
    display: block;
    font-size: 30px;
	color: #000000;
	font-weight: bold;
}

a.external-post-link:visited {
	color: #007ea7;
}

blockquote {
	font-size: 16px;
	background-color: #f0f0f0;
	margin: 2 auto;
	padding: 10px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}




#post-meta {
margin-bottom: 25px;
}

.post-test {
border-style: solid;
border-width: 5px;
}

hr { 
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
	margin-bottom: 45px;
}

#content {
	margin-bottom: 60px;
}

#footer { 
	font-size: 12px;
	color: #000000;
	text-align: center;
}

#footer a {
	color: #000000;
	text-decoration: none;
}

#footer a:hover {
	color: #3E606F;
	text-decoration: underline;
}

#copyright {
	color: #000000;
}

.share-page {
    text-align: center;
	background-color: #EBEBEB;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #000000;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.sharing {
  margin: 1rem 0;
  text-align: center; }

.sharing-button, .sharing-button:visited {
  display: inline-block;
  text-align: center;
  width: 10.5rem;
  min-width: 10rem;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  border-radius:25px;
  
  @include media-query($on-palm) {
         width: 2.5rem;
         min-width: 5em;
         padding: 5px;
         float: right;
         }
  }

.sharing-button.twitter {
  background-color: #00aced;
  color: #fff; 
 }

.sharing-button.twitter:hover {
  background-color: #009bd4;
  color: #fff; 
  text-decoration: none;  
 }

.sharing-button.facebook {
  background-color: #3B5998;
  color: #fff; 
 }

.sharing-button.facebook:hover {
  background-color: #223683;
  color: #fff; 
  text-decoration: none;  
 }

.sharing-button.googleplus {
  background-color: #d34836; 
  color: #fff; 
}

.sharing-button.googleplus:hover {
  background-color: #bd0000;
  color: #fff; 
  text-decoration: none;  
 }

.sharing-button.email {
  background-color: #777;
  color: #fff; 
}

.sharing-button.email:hover {
  background-color: #666;
  color: #fff; 
  text-decoration: none;  
 }
 

 
 .home {
	width:70%;
	float:right;
 }
 
 .sidebar {
	width:25%;
	float:left;
 }
 
 .sidebar h3 {
	text-transform: uppercase;
	font-weight: bold;
 }

 .sidebar ul{
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom:10;
}

.img {
display:block;
max-width:100%;
margin:0 0 2rem 0
}

h1,h2,h3{margin:0 0 .5em}

h1{font-weight:bold;font-size:1.6em;line-height:1.4}

h2, h3{font-weight:bold}



ol,p,ul{margin:0 0 1.6em 0}

ol,ul{padding:0 0 0 1em}

ol{list-style:decimal inside}

ul{list-style:disc inside}

ol li,ul li{margin-bottom:8px}

ul.write{
list-style:none;
}
    
ul.write li:before{
content:'\270d'
}

ul.heart{
list-style:none;
}

ul.heart li:before{
content:'\2764'
}

ul.heart li {
text-indent: -10px;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.breadcrumb {
list-style:none;
display:inline-block;
margin-bottom:20;
padding-left:2
}

.breadcrumb li {
float:left;
margin:0
}

.breadcrumb li::after {
content:"» ";
white-space:pre
}

.breadcrumb li:last-child:after {
content:""
}

.bottom-nav {
list-style:none;
list-style-type: none;
padding-left:2
}

.bottom-nav li::after {
content:" ►";
font-size:10px;
}

.contentTop {
margin-left: auto; 
margin-right: auto; 
width: 208px
} @media (max-width: 1010px) { 
.img1 {
width: 80%; 
margin-left: auto; 
margin-right: auto;
margin-bottom: 2rem;
} 
.contentTop {
width: auto
} }
